<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div class="pl-6 pt-6">
      <div class="py-2 px-4 rounded-lg max-w-sm text-xl text-white bg-red-500">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="pl-6 pt-6">
    <%= form.label :name, class: "text-xl font-semibold" %>
    <%= form.text_field :name, placeholder: "name", class: "rounded text-xl shadow-md border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" %>
  </div>

  <div class="pl-6 pt-6">
    <%= form.label :email, class: "text-xl font-semibold" %>
    <%= form.text_field :email, placeholder: "email", class: "rounded text-xl shadow-md border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" %>
  </div>

  <div class="pl-6 pt-6">
    <%= form.submit class: "btn-blue" %>
  </div>
<% end %>
