<p class="text-xl text-green-700 pl-6 pt-6"><%= notice %></p>

<div class="pl-6 pt-6">
  <p>
    <strong class="text-xl font-semibold">
      Name:
    </strong>
    <%= @user.name %>
  </p>

  <p>
    <strong class="text-xl font-semibold">
      Email:
    </strong>
    <%= @user.email %>
  </p>

  <p>
    <strong class="text-xl font-semibold">
    First Micropost:
    </strong>
    <%= if @user.microposts.present?
          @user.microposts.fists.content
        end %>
  </p>
</div>

<div class="pl-6 pt-6">
  <%= link_to 'Edit', edit_user_path(@user), class: "btn-blue" %> 
  <%= link_to 'Back', users_path, class: "btn-blue" %>
</div>