<p class="text-xl text-green-700 pl-6 pt-6"><%= notice %></p>

<h1 class="text-xl font-semibold text-blue-500 underline pl-6 pt-6">
  Microposts
</h1>

<div class="pl-6 pr-6 pt-6">
  <table class ="table-fixed border-collapse">
    <thead>
      <tr>
        <th class="w-56 border border-blue-500">Content</th>
        <th class="w-56 border border-blue-500">User</th>
        <th class="w-56 border border-blue-500" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @microposts.each do |micropost| %>
        <tr>
          <td class="w-56 border border-blue-500"><%= micropost.content %></td>
          <td class="w-56 border border-blue-500"><%= micropost.user_id %></td>
          <td class="w-56 border border-blue-500" colspan="3">
            <div class="pl-1">
              <%= link_to 'Show', micropost, class: "btn-mini" %>
              <%= link_to 'Edit', edit_micropost_path(micropost), class: "btn-mini" %>
              <%= link_to 'Destroy', micropost, class: "btn-mini", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<div class="pl-6 pt-6">
  <%= link_to 'New Micropost', new_micropost_path, class: "btn-blue" %>
</div>
